# generated gradle
.gradle

# intellij project files
.idea

# build folder
build/

# not the wrapper
!gradle-wrapper.jar

# Compiled class file
*.class
# Log file
*.log
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar